.restaurant__wrap{
    width: 100%;
    height: 1000px;
    background-color: #F3F3F3;
}

.header_style{
    position: sticky;
    top: 0;
    z-index: 1;

    height: 94px;
    background-color: #FF5636;
    display: flex;
    align-items: center;
}

.header_fixed{
    position: fixed;
    top: 0;
    z-index: 100;
}

.header_logo{
    margin: 0 0 0 135px;
    /*position: absolute;*/
    /*top: 23px;*/
}

.header_links{
    position: absolute;
    /*top: 35px;*/
    right: 0;
    margin: 0 135px 0 0;
}

.header_link{
    font-size: larger;
    text-decoration: none;
    font-weight:bold;
    color: black;
    margin: 0 20px 0 20px;
}

.navbar_style{
    display: flex;
    align-items: center;
    /*position: relative;*/
    width: 100%;
    height: 130px;
}

.search_box{
    margin: 0 0 0 135px;
    display: flex;
}

input{
    outline: none;
    font-size: 28px;
    width: 240px;
    border: none;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    height: 74px;
}

.search_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    width: 56px;
    background-color: #fff;
}

.nav_links{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    margin: 0 135px 0 0;
}

.nav_link{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: x-large;
    text-decoration: none;
    color: black;
    margin: 0 20px 0 20px;
}
.nav_links button{
    background-color: #F3F3F3;
    border: none;
    border-radius: 5px;
}

.nav_links button:focus{
    background-color: #e3e3e3;
}

.nav_links button:hover{
    background-color: #e3e3e3;
}

.nav_link img{
    margin-right: 12px;
}

.restaurant_block{
    background-color: #FFF;
    display: flex;
    align-items: center;
    height: 354px;
    border: 3px solid #FF5636;
    margin-bottom: 32px;
    padding-left: 32px;
}

.restaurant_info{
    height: 264px;
    margin-left: 32px;
}

.restaurant_details{
    display: flex;
    align-items: center;
}

.restaurant_details button{
    position: absolute;
    right: 0;
    border: none;
    height: 43px;
    width: 195px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    border-radius: 5px;
    background-color: #FF5636;
}

.restaurant_details button:focus{
    background-color: #e3e3e3;
}

.restaurant_location{
    display: flex;
    font-size: large;
    align-items: center;
    font-weight: bold;
    margin: 20px 0px 0 0;
}

.restaurant_location img{
    margin-right: 10px;
}

.restaurant_time{
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
}
