.restaurant__wrap,
.restaurant__wrap_dark{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.restaurant__wrap{
    background-color: #FFF;
}

.restaurant__wrap_dark{
    background-color: #035259;
}

.page_buttons {
    margin-bottom: 4vw;
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: 100%;
    justify-content: center;
}

.page_buttons > img {
    cursor: pointer;
    width: 30px;
}

.page_number {
    font-size: 32px;
}