.show_delete_btn {
    height: 50px;
    width: 480px;
    background-color: #F3F3F3;
    font-size: 24px;
    border: 3px solid crimson;
    color: crimson;
    border-radius: 10px;
    cursor: pointer;
}

.delete_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.hide {
    display: none;
}

.delete_input,
.full_delete_btn {
    height: 50px;
    width: 480px;
    border: 2px solid crimson;
    border-radius: 10px;
    padding: 0 15px;
    outline: none;
    font-size: 22px;
}

.delete_text {
    font-size: 22px;
    font-weight: 500;
}

.full_delete_btn {
    background-color: crimson;
    color: #FFFFFF;
}

.error {
    color: crimson;
}

@media (max-width: 767px) {
    .delete_text {
        font-size: 20px;
    }

    .show_delete_btn {
        height: 45px;
        width: 400px;
        font-size: 22px;
        border-radius: 10px;

    }

    .delete_input,
    .full_delete_btn {
        height: 45px;
        width: 400px;
        border-radius: 10px;
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .delete_text {
        font-size: 18px;
    }

    .show_delete_btn {
        height: 40px;
        width: 350px;
        font-size: 20px;
        border-radius: 10px;

    }

    .delete_input,
    .full_delete_btn {
        height: 40px;
        width: 350px;
        border-radius: 10px;
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    .delete_text {
        font-size: 16px;
    }

    .show_delete_btn {
        height: 35px;
        width: 300px;
        font-size: 18px;
        border-radius: 8px;

    }

    .delete_input,
    .full_delete_btn {
        height: 35px;
        width: 300px;
        border-radius: 8px;
        font-size: 16px;
    }
}

@media (max-width: 350px) {
    .delete_text {
        font-size: 14px;
    }

    .show_delete_btn {
        height: 35px;
        width: 280px;
        font-size: 18px;
        border-radius: 8px;

    }

    .delete_input,
    .full_delete_btn {
        height: 35px;
        width: 280px;
        border-radius: 8px;
        font-size: 16px;
    }
}