.one_page {
    width: 100%;
}

.one_page_bg {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 9%;
    font-family: "Poiret One", sans-serif;
}


.one_bg_gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(74.55deg, #000000 0%, rgba(0, 0, 0, 0) 56.53%);
}

.one_title {
    font-size: 120px;
    font-weight: 500;
    position: relative;
    z-index: 2;
    width: fit-content;
    color: #FFFFFF;
}

.tab_header {
    width: 100%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    display: flex;
}

.tab_header a {
    height: 60px;
    width: 20%;
    background-color: #F3F3F3;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: "Poiret One", sans-serif;
    border-radius: 10px 10px 0 0;
    mix-blend-mode: normal;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.active_link {
    border-bottom: none !important;
    background-color: #FFFFFF !important;
    position: relative;
    z-index: 7;
}

@media (max-width: 1000px) {
    .one_title {
        font-size: 100px;
    }

    .one_bg_gradient {
        background: linear-gradient(74.55deg, #000000 0%, rgba(0, 0, 0, 0) 80%);
    }

    .tab_header a {
        font-size: 26px;
    }
    .one_page_bg {
        height: 70vw;
    }
}

@media (max-width: 767px) {
    .one_title {
        font-size: 80px;
    }
}

@media (max-width: 700px) {
    .tab_header a {
        font-size: 20px;
        padding: 10px 0;
        height: fit-content;
        border-radius: 5px 5px 0 0;
    }
}

@media (max-width: 600px) {
    .tab_header a {
        font-size: 20px;
        padding: 10px 0;
        height: fit-content;
    }
}

@media (max-width: 550px) {
    .one_page_bg {
        height: 60vw;
    }

    .one_title {
        font-size: 60px;
    }

    .tab_header a {
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    .one_title {
        font-size: 40px;
    }

    .tab_header a {
        font-size: 14px;
        padding: 6px 0;
    }
}

