.register_page{
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.register_input {
    width: 350px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #047E89;
    outline: none;
    padding: 0 15px;
    font-size: 22px;
}

.register_input::placeholder {
    color: #047E89;
}

.register_btn {
    padding: 10px 35px;
    color: #FFFFFF;
    background-color: #047E89;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
