.register_page,
.register_page_dark {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.register_page_dark {
    background-color: #01444A;
    color: #FFFFFF;
}

.register_form,
.register_form_dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.register_input,
.register_input_dark {
    width: 350px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #047E89;
    outline: none;
    padding: 0 15px;
    font-size: 22px;
}

.register_input_dark {
    color: #FFFFFF;
    background-color: #01444A;
}

.register_input::placeholder {
    color: #047E89;
}

.register_input_dark::placeholder {
    color: #FFFFFF;
}

.register_btn,
.register_btn_dark {
    padding: 10px 35px;
    color: #FFFFFF;
    background-color: #047E89;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.register_btn_dark {
    background-color: #FFFFFF;
    color: #01444A;
}

.error {
    color: crimson;
}

@media (max-width: 450px) {
    .register_input,
    .register_input_dark {
        width: 300px;
        height: 50px;
        border-radius: 10px;
        border: 2px solid #047E89;
        outline: none;
        padding: 0 15px;
        font-size: 20px;
    }





    .login_input,
    .login_input_dark {
        width: 300px;
        height: 50px;
    }

    .login_btn,
    .login_btn_dark {
        padding: 9px 33px;
        font-size: 19px;
    }

    .register_link,
    .register_link_dark {
        font-size: 13px;
    }
}

@media (max-width: 390px) {
    .register_input,
    .register_input_dark {
        width: 280px;
        height: 45px;
        font-size: 18px;
    }

    .register_btn,
    .register_btn_dark {
        padding: 8px 32px;
        border-radius: 8px;
        font-size: 18px;
    }





    .login_input,
    .login_input_dark {
        width: 280px;
    }

    .login_btn,
    .login_btn_dark {
        padding: 8px 30px;
        font-size: 18px;
    }

    .register_link,
    .register_link_dark {
        font-size: 12px;
    }
}