.forms_wrap {
    width: 45%;
    background-color: #fff;
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #047E89;
    margin-top: 100px;
    row-gap: 8px;
}

.forms_title {
    font-size: 24px;
    font-weight: 500;
}

.form_block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reserve_input {
    width: 230px;
    height: 35px;
    padding: 5px 15px;
    background-color: #F3F3F3;
    border: 2px solid #047E89;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
}

.reserve_text {
    font-size: 20px;
    font-weight: 500;
}