.reserved_block {
    border-top: 1px solid #A9A8A8;
    padding: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_wrap {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.delete_btn {
    padding: 5px 8px;
    background-color: #047E89;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.reserved_block:first-child {
    border: none;
}

.reserved_data_block {
    font-size: 20px;
    font-weight: 500;
    width: 20%;
    text-align: center;
}

.reserved_data_block:first-child {
    width: 10%;
}

.reserved_data_block:nth-child(2),
.reserved_data_block:nth-child(3) {
    width: 15%;
}

@media (max-width: 600px) {
    .reserved_data_block,
    .delete_btn {
        font-size: 16px;
    }

    .reserved_block {
        padding: 10px 0;
    }
}

@media (max-width: 500px){
    .reserved_data_block,
    .delete_btn {
        font-size: 12px;
    }
}

@media (max-width: 500px){
    .reserved_data_block,
    .delete_btn {
        font-size: 10px;
    }
    .delete_btn{
        padding: 3px;
        border-radius: 5px;
    }
}