.desc_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
    width: 100%;
    padding: 100px 0;
    background-color: #F3F3F3;
}

.desc_block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: #F3F3F3;

}

.decor_angle {
    position: absolute;
    height: 400px;
    width: 400px;
    top: -100px;
    left: -10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.desc_page_text {
    width: 40%;
    font-family: 'Poiret One', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    position: relative;

}

.desc_page_photo {
    width: 40%;
}
