.owner_page {
    min-height: 100vh;
    width: 100%;
    padding: 100px 6.5vw;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    align-items: center;
}

.owner_page_dark {
    background-color: #035259;
    color: #FFFFFF;
}