.user_page,
.user_page_dark {
    width: 100%;
    min-height: calc(100vh - 80px);
    padding: 40px 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.user_page_dark {
    background-color: #035259;
    color: #FFFFFF;
}

/*.logout_btn {*/
/*    font-size: 20px;*/
/*    background-color: #047E89;*/
/*    padding: 5px 15px;*/
/*    border-radius: 5px;*/
/*    width: fit-content;*/
/*    cursor: pointer;*/
/*}*/

