.user_update {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 15px;
}

.user_update_text {
    font-size: 36px;
    font-weight: 400;
}

.user_update_input,
.user_input_dark {
    height: 60px;
    width: 480px;
    border: 3px solid #047E89;
    font-size: 32px;
    padding: 0 15px;
    outline: none;
}

.user_input_dark {
    background-color: #035259;
    color: #FFFFFF;
}

.error {
    color: crimson;
}

.update_user_btn,
.update_user_btn_dark {
    height: 50px;
    width: 480px;
    border-radius: 15px;
    font-size: 28px;
    border: none;
    cursor: pointer;
}

.update_user_btn {
    background-color: #047E89;
    color: #FFFFFF;
}

.update_user_btn_dark {
    background-color: #FFFFFF;
    color: #047E89;
}

@media (max-width: 767px) {
    .user_update {
        row-gap: 13px;
    }

    .user_update_text {
        font-size: 30px;
        font-weight: 350;
    }

    .user_update_input,
    .user_input_dark {
        height: 50px;
        width: 400px;
        font-size: 28px;
    }

    .update_user_btn,
    .update_user_btn_dark {
        height: 45px;
        width: 400px;
        border-radius: 12px;
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    .user_update {
        row-gap: 10px;
    }

    .user_update_text {
        font-size: 28px;
        font-weight: 300;
    }

    .user_update_input,
    .user_input_dark {
        height: 45px;
        width: 350px;
        font-size: 24px;
    }

    .update_user_btn,
    .update_user_btn_dark {
        height: 40px;
        width: 350px;
        border-radius: 10px;
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    .user_update {
        row-gap: 8px;
    }

    .user_update_text {
        font-size: 24px;
        font-weight: 300;
    }

    .user_update_input,
    .user_input_dark {
        height: 40px;
        width: 300px;
        font-size: 20px;
    }

    .update_user_btn,
    .update_user_btn_dark {
        height: 35px;
        width: 300px;
        border-radius: 8px;
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    .user_update {
        row-gap: 8px;
    }

    .user_update_text {
        font-size: 20px;
        font-weight: 250;
    }

    .user_update_input,
    .user_input_dark {
        height: 40px;
        width: 280px;
        font-size: 18px;
    }

    .update_user_btn,
    .update_user_btn_dark {
        height: 35px;
        width: 280px;
        border-radius: 8px;
        font-size: 16px;
    }
}